.gif-bar {
  margin: auto;
  height: 20px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}

.gif-marker {
  height: 8px;
  width: 8px;
  background: yellow;
  position: absolute;
  border-radius: 4px;
  border: 1px solid black;
  bottom: 0;
}
