.query-input {
  border: none;
  border-bottom: solid 1px lightgrey;
  padding: 0.5em;
  width: 100%;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  outline: none;
}

.giphy-search {
  border-radius: 0.5em;
  width: 400px;
  max-height: 100%;
  background: white;
  color: black;
}

.search-title {
  padding: 0.5em 0.5em 0.2em 0.5em;
}

.Results {
  height: 200px;
}

.loading {
  animation: blinker 2s ease infinite;
  color: grey;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
