.App {
  max-width: 900px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.videoFrame {
  margin: auto;
  position: relative;
  max-width: 900px;
  height: 600px;
  overflow: hidden;
}

.video {
  width: 100%;
  height: 100%;
}

.gifPlayer {
  position: absolute;
  height: 100px;
  width: 150px;
  bottom: 0;
  right: 0;
  margin-bottom: 50px;
  margin-right: 10px;
  overflow: hidden;
}

.giphy-search {
  z-index: 100;
  background: white;
  position: absolute;
  right: 10px;
  bottom: 10px;
  width: 400px;
  max-height: 400px;
}
